{% extends "core/base.html" %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ profile.picture.url }}">
        <div class="media-body">
            <div class="row">
                <div class="col-11"><h2 class="account-heading">
                    {{ profile.first_name }} {{ profile.last_name }}</h2></div>
            </div>
                <h6 class="text-muted">{{ profile.birthdate }}</h6>
                <hr> <br>
                <p class="text-secondary">{{ profile.email }}</p>
            <button class="btn btn-primary"> <a href="{% url 'profile_change' user.id %}" style="color: white;">Edit</a></a> </button>
        </div>
      </div>
      </div>
{% endblock content %}