body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

   button:focus {
        outline: none;
    }
      .submit_button {
	 outline: none;
	 height: 40px;
	 text-align: center;
	 width: 90px;
	 border-radius: 40px;
	 background: #fff;
	 border: 2px solid #1ecd97;
	 color: #1ecd97;
	 letter-spacing: 1px;
	 text-shadow: 0;
	 font-size: 12px;
	 font-weight: bold;
	 cursor: pointer;
	 transition: all 0.25s ease;
}
  .submit_button:hover {
	 color: white;
	 background: #1ecd97;
}
      .submit_button:active {
	 letter-spacing: 2px;
}
 .submit_button:after {
	 content: "Take Part";
}
 .onclic {
	 width: 40px;
	 border-color: #bbb;
	 border-width: 3px;
	 font-size: 0;
	 border-left-color: #1ecd97;
	 animation: rotating 2s 0.25s linear infinite;
}
 .onclic:after {
	 content: "";
}
 .onclic:hover {
	 color: #1ecd97;
	 background: white;
}
 .validate {
	 font-size: 13px;
	 color: white;
	 background: #1ecd97;
}
 .validate:after {
     font-family: 'Font Awesome\ 5 Free';
	 content: "\f00c";
}
 @keyframes rotating {
	 from {
		 transform: rotate(0deg);
	}
	 to {
		 transform: rotate(360deg);
	}
}

.unsub_button {
	 outline: none;
	 height: 40px;
	 text-align: center;
	 width: 90px;
	 border-radius: 40px;
	 background: #1ecd97;
	 border: 2px solid #1ecd97;
	 color: #fff;
	 letter-spacing: 1px;
	 font-size: 12px;
	 font-weight: bold;
	 cursor: pointer;
}

 .unsub_button:after {
	 font-family: 'Font Awesome\ 5 Free';
	 content: "\f00c";
}
  .unsub_button:hover {
	 color: #fff;
	 background: gray;
     border: 2px solid gray;
}
    .unsub_button:hover:after {
	content: "unsubscribe";
}

        .unsub_button:active {
	 letter-spacing: 2px;
}
 .onclic_unsub {
	 width: 40px;
	 border-color: #bbb;
	 background-color: white;
	 border-width: 3px;
	 font-size: 0;
	 border-left-color: gray;
	 animation: rotating 2s 0.25s linear infinite;
}
 .onclic_unsub:after {
	 content: "";
}
 .onclic_unsub:hover {
	 color: white;
	 background: gray;
}
 .validate_unsub {
	 font-size: 13px;
	 color: #1ecd97;
	 background: white;
}
 .validate_unsub:after {
 content: "Take Part";
}
 @keyframes rotating {
	 from {
		 transform: rotate(0deg);
	}
	 to {
		 transform: rotate(360deg);
	}
}