{% extends "core/base.html" %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <div class="media-body">
            <div class="row">
                <div class="col-11">
                    <h2 class="account-heading">{{ course.name }}</h2></div>
                    <h3 class="account-heading">{{ course.teacher }}</h3></div>
            </div>
        </div>
      </div>

    <div class="content-section">
      <div class="media">
        <div class="media-body">
            <div class="row">
                <div class="col-11">
         upload files
                </div>
        </div>
      </div>
    </div>
    </div>

    <div class="content-section">
      <div class="media">
        <div class="media-body">
            <div class="row">
                <div class="col-11">
                    Current Grade
            </div>
        </div>
      </div>
    </div>
    </div>

      <table id="gallery" class="table table-bordered">
    <thead>
      <tr>
        <th>Files</th>
      </tr>
    </thead>
    <tbody>
      {% for file in files %}
        <tr>
          <td><a class="text-info" href="{{ file.document.url }}">{{ file.name }}</a></td>
          <td>{{ file.sender }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


    <a href="{% url 'course_upload' pk=course.pk %}">upload</a>
{% endblock content %}