{% extends "core/base.html" %}


{% load static %}


{% block javascript %}
  {# JQUERY FILE UPLOAD SCRIPTS #}
  <script src="{% static 'upload/js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'upload/js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'upload/js/jquery-file-upload/jquery.fileupload.js' %}"></script>
  <script src="{% static 'upload/js/basic-upload.js' %}"></script>
{% endblock %}

{% block content %}


  <div style="margin-bottom: 20px;">
    <button type="button" class="btn btn-primary js-upload-photos">
      <span class="glyphicon glyphicon-cloud-upload"></span> Upload photos
    </button>
    <input id="fileupload" type="file" name="file" multiple
           style="display: none;"
           data-url="{% url 'course' pk%}"
           data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
  </div>


    <div class="content-section">
      <div class="media">
        <div class="media-body">
            <div class="row">
                <div class="col-11">
                    <h2 class="account-heading">{{ course.name }}</h2></div>
                    <h3 class="account-heading">{{ course.teacher }}</h3></div>
            </div>
        </div>
      </div>

    <div class="content-section">
      <div class="media">
        <div class="media-body">
            <div class="row">
                <div class="col-11">
         upload files
                </div>
        </div>
      </div>
    </div>
    </div>

    <div class="content-section">
      <div class="media">
        <div class="media-body">
            <div class="row">
                <div class="col-11">
                    Current Grade
            </div>
        </div>
      </div>
    </div>
    </div>

  <table id="gallery" class="table table-bordered">
    <thead>
      <tr>
        <th>Photo</th>
      </tr>
    </thead>
    <tbody>
      {% if user.is_teacher %}
    {% for file in files %}
        <tr>
        <td><a href="{{ file.file.url }}">{{ file.file.name }}</a></td><td>{{ file.sender }}</td>
        <td>
            <form method="post" action="{% url 'upload_delete' pk=file.pk %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <button type="submit" class="btn btn-danger pull-right">
                  <span class="glyphicon glyphicon-trash"></span> Clear Database
                </button>
              </form>
        </td>
        </tr>
    {% endfor %}
    {% elif user.is_student %}
    {% for file in files %}
        <tr>
        <td>{{ file.file.name }}</td>
        </tr>
    {% endfor %}
    {% endif %}

</tbody>
</table>


{% endblock content %}