{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h2>Create new Course</h2>
            <form method="post" enctype="multipart/form-data" id="profileForm" data-cities-url="{% url 'ajax_load_cities' %}" novalidate>
            {% csrf_token %}
            <div class="form-group">
                name<br/>
                {{ form.name }}
            </div>
            <div class="form-group">
                summary<br/>
                {{ form.summary }}
            </div>
            <div class="form-group">
                credits<br/>
                {{ form.credits }}
            </div>
            <div class="form-group">
                mandatory<br/>
                {{ form.mandatory }}
            </div>
            <div class="form-group">
                year<br/>
                {{ form.year }}
            </div>


                <div class="form-group">
                end_date<br/>
                {{ form.end_date }}
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
                {% if course.id  %}
            <a href="{% url 'course' course.id %}">Nevermind</a>
                {% endif %}

            </form>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
